<a href="https://colab.research.google.com/github/Riccogao/datasci_223/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# Read the excel file into a pandas DataFrame
df = pd.read_excel('/content/drive/My Drive/data1.xlsx')

# Display the first few rows of the DataFrame
print(df)

     idi     ID      first_author  \
0      1   1851     Rangel-MÃ©ndez
1      2   1868       Abu-Helalah
2      3   1872             Adams
3      4   1872             Adams
4      5   1872             Adams
..   ...    ...               ...
867  872   3824     Unger-Saldana
868  873   3824     Unger-Saldana
869  874   4313  Zarcos-Pedrinaci
870  875   4313  Zarcos-Pedrinaci
871  876  12371           Mansour

                                                group  data_start data_finish  \
0                                                  na        2010        2012
1                                                  na        2012        2014
2    specific site and American Indican-Alaska native        2001        2007
3                specific cite and non-hispanic white        2001        2007
4    specific site and American Indican-Alaska native        2001        2007
..                                                ...         ...         ...
867                                     40 or younger        2016        2017
868                                     older than 40        2016        2017
869                                            colon         2010        2012
870                                            rectum        2010        2012
871                                                na        2015        2016

     country country_additional                site_general site_specific  \
0     Mexico                NaN                      breast        breast
1     Jordan                NaN                      breast        breast
2        USA                NaN                      breast        breast
3        USA                NaN                      breast        breast
4        USA                NaN  digestive/gastrointestinal    colorectal
..       ...                ...                         ...           ...
867   Mexico                NaN                      breast        breast
868   Mexico                NaN                      breast        breast
869    Spain                NaN  digestive/gastrointestinal         colon
870    Spain                NaN  digestive/gastrointestinal        rectal
871  Algeria                NaN                      breast        breast

     ...   pmm           GNI   GNIG    HDI ICP_overall  ICP_pp  \
0    ...  30.0  upper middle  lower  0.754        63.1    73.2
1    ...  30.0  lower middle  lower  0.731         NaN     NaN
2    ...   NaN          high   high  0.900        84.0    88.0
3    ...   NaN          high   high  0.900        84.0    88.0
4    ...   NaN          high   high  0.900        84.0    88.0
..   ...   ...           ...    ...    ...         ...     ...
867  ...   NaN  upper-middle  lower  0.770        63.1    73.2
868  ...   NaN  upper-middle  lower  0.770        63.1    73.2
869  ...  22.0          high   high  0.877        84.0    89.7
870  ...  31.0          high   high  0.877        84.0    89.7
871  ...  15.0  upper-middle  lower  0.742         NaN     NaN

     ICP_cancerplan  ICP_care  risk_of_bias  lowquality
0              62.5      61.9        Medium          No
1               NaN       NaN          High         Yes
2             100.0      84.2           Low          No
3             100.0      84.2           Low          No
4             100.0      84.2           Low          No
..              ...       ...           ...         ...
867            62.5      61.9           Low          No
868            62.5      61.9           Low          No
869            70.8      89.2        Medium          No
870            70.8      89.2        Medium          No
871             NaN       NaN        Medium          No

[872 rows x 60 columns]